body {
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 80px;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  object-fit: cover;
  color: white;
  text-align: center;
  background-size: cover;
  text-shadow: 1px 1px #808080;
}

p.intro {
  font-size: 25px;
}



/*.products {
  background-size: cover;
  height: 200px;
}*/

.product-image {
  width: 300px;
  object-fit: cover;
/*  width: 300px;
  margin:0 auto;*/
}

.card {
  background: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 0px;
}
