body {
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 80px;
}

h2 {
  text-align: center;
}


/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 110px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.navbar-wagon-brand img {
  height: 110px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* BANNNER */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  object-fit: cover;
  color: white;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-top: 50px;
  margin-bottom:50px;
  margin-right: 150px;
  margin-left: 150px;
  background-size: cover !important;
/*  padding-right: 30px;
  padding-left: 30px;*/
}

.banner-content p {
  font-size: 20px;
  text-align: center;
}

/* FEATURES */

.features-wrapper.up {
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
}

.features-wrapper {
  background-color: #fdf0f6;
/*    background-color: #F4F4F4;*/
  padding-bottom: 0px;
}

.feature {
    padding: 40px 10px 0 10px;
    flex: 0 0 33%;
    padding-bottom: 0;
}

.feature-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-body {
  font-size: 16px;
}

.section-title-home-content {
 /*   background-color: #F4F4F4;*/
  background-color: #fdf0f6;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
}

.section-title-home {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  border-bottom: 1px solid #E0E0E0;
  height: 7px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin: 2em 40px 1em 40px;
  z-index: 1;
}





/* PRODUCTS */

.product-image {
/*  width: 300px;*/
  object-fit: cover;
/*  width: 300px;
  margin:0 auto;*/
}

.card {
  background: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 0px;
}

.card-product-header {
  background-color: #469AE0;
  height: 200px;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
  position: relative;
  object-fit: cover;
  background-position: center center;
}

.card-product-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
}

/* CONTACT */

.contact-info {
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
}

.fab fa-instagram .contact-info {
  font-size: 100px;
}

.fab .fa-facebook .contact-info {
  font-size: 100px;
}

/* Footer */
.footer {
  background-color: white;
/*  background: #F4F4F4;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}








